.form {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  .inputSearchContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 40rem;
    height: 5rem;
    background-color: white;
    justify-content: center;
    box-shadow: rgba(194, 190, 190, 0.358) 2px 2px 1px 1px;
    .inputSearch {
      width: 20rem;
      height: 1.5rem;
      border: 3px solid rgb(98, 35, 110);
      border-radius: 5px;
    }
    .buttonSearch{
      width: 4rem;
      height: 1.5rem;
      background-color: rgb(98, 35, 110) ;
      border: 0px;
      border-radius: 7px;
      color: rgb(236, 191, 212);
      cursor: pointer;
    }
  }
}
main {
  width: 100%;
  height: 75vh;
}

.flex{
  display: flex;
  .card-section {
    width: 100%;
    height: 32.6rem;
  }
    .character-card {
      list-style: none;
      width: 11rem;
      height: 10.5rem;
      margin-left: 0.5rem;
      margin-top: 1rem;
      background-color: burlywood;
      .name {
        text-align: center;
      }
      .pic {
        width: 10rem;
        height: 8rem;
        margin-left: 0.5rem;
      }
    }
  .favourites {
      background-color: black;
      width: 15rem;
      margin-right: 0.5rem;
      height: 32.6rem;
      margin-top: 1rem;
  }
}

